<div class="container">
    <p>HTTP: <span>404</span></p>
    <code><span>this_page</span>.<em>not_found</em> = true;</code>
    
    <code>
        <span>if</span> (<b>url_mal_escrita</b>) &#123;<br/><br />
            <span>    intentalo_de_nuevo();</span><br /><br />
        &#125;
    </code>
    <code>
        <span>else if</span> (<b>hemos_metido_la_pata</b>) &#123;
        <br/><br/>
        <span>    </span><em>alert</em>(<i>"Intentelo mas tarde."</i>);
        <br/>
        <span>    </span><span>window</span>.<em>location</em> = home;
        <br/><br/>
        &#125;
    </code>
    <div class="text-center">
        <a href="http://localhost:4200/home" class="homeLink">HOME</a>
    </div>
</div>