<header class="header">
  <div class="header-logo">
    <h1><i class="fas fa-dice"></i> Ludoteca Capgemini</h1>
  </div>
  <nav class="header-nav">
    <ul>
    <li>
      <a href="/home">
      <i class="fas fa-home"></i>
      Home
      </a>
    </li>
    <li>
      <a href="/clients">
      <i class="fas fa-users"></i>
      Clientes
      </a>
    </li>
    <li>
      <a href="/games">
      <i class="fas fa-gamepad"></i>
      Games
      </a>
    </li>
    <li>
      <a href="/prestamos">
      <i class="fas fa-hand-holding"></i>
      Prestamos
      </a>
    </li>
    </ul>
  </nav>
</header>
